{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Public Information Configration" %} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}
    <style>
    .footer-tb{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: solid 1px #ddd;
    }
    .icon-animate {
        -animation: spin 1s infinite linear;
        -webkit-animation: spin2 1s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
    .nav-pills>li.error>a{
        color: #b7152b;
        background-color: rgba(219, 31, 64, 0.07);
    }
    .nav-pills>li.active.error>a{
        color: #fff;
        background-color: #b7152b;
    }
    #edit-form{
      margin-top: 40px
    }
    </style>
{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
          <h2>Public Information</h2>
            <div id="edit-form"></div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL }}esri-templates-config/dist/commons.min.js"></script>
<script src="{{ STATIC_URL }}esri-templates-config/dist/config-form.bundle.min.js"></script>

<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var props = {
        portalHomeUrl: "{% url 'arcportal_home' %}",
        configurationPanelUrl: "{{ STATIC_URL }}cartoview_public_information/resources/configurationPanel.js?v=1",
        csrfmiddlewaretoken: getCookie('csrftoken')
    };
    //{% if instance %}
    props.config = {{ instance.config | safe }};
    //{% else %}
    props.isNew = true;
    //{% endif %}
    var app = React.createElement(App, props);
    ReactDOM.render(app, document.getElementById("edit-form"));
</script>
{% endblock %}
